<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Project Pembayaran Listrik</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<h1>⚡ Website Pembayaran Listrik Pascabayar</h1>

<br>

<p>
Aplikasi web untuk membantu pelanggan melakukan pengecekan dan pembayaran tagihan listrik pascabayar secara digital. Aplikasi ini dilengkapi dengan sistem login, pengecekan tagihan berdasarkan ID pelanggan, proses pembayaran, serta pengelolaan data pelanggan dan tarif listrik melalui dashboard admin. Aplikasi dikembangkan menggunakan Python, Flask, MySQL, dan Bootstrap dengan sistem yang terintegrasi antara frontend, backend, dan database.
</p>

<!-- GAMBAR PROJECT -->
    <img src="{{ url_for('static', filename='images/tampilan web listrik.png') }}"
         alt="Gambar Project Note"
         class="project-image">

<h2>Fitur:</h2>

<br>

<ul>
    <li><strong>🔐 Login Pengguna<br></strong>
    <p>Sistem autentikasi untuk mengakses layanan aplikasi.</p>
    </li>

    <br>
    
    <li><strong>🔎 Cek Tagihan Listrik<br></strong>
    <p>Pelanggan dapat mengecek tagihan menggunakan ID pelanggan.</p>
    </li>

    <br>
    
    <li><strong>✅ Status Pembayaran<br></strong>
    <p>Status tagihan akan diperbarui menjadi LUNAS setelah pembayaran berhasil.</p>
    </li>

    <br>
    
    <li><strong>👤 Manajemen Pelanggan<br></strong>
    <p>Admin dapat menambah, melihat, mengubah, dan menghapus data pelanggan.</p>
    </li>

    <br>
    
    <li><strong>⚡ Manajemen Tarif Listrik<br></strong>
    <p>Admin dapat mengelola data tarif listrik yang digunakan dalam perhitungan tagihan.</p>
    </li>

    <br>

    <li><strong>📊 Dashboard Admin<br></strong>
    <p>Menyediakan halaman pengelolaan data pelanggan, tarif, tagihan, dan pembayaran.</p>
    </li>

    <br>

    <li><strong>🧾 Pengecekan Tagihan Sebelum Pembayaran<br></strong>
    <p>Pelanggan dapat melihat detail tagihan sebelum melakukan pembayaran.</p>
    </li>
</ul>

    <br>

<a href="/">Kembali ke Portofolio</a>

</body>
</html>